# Dependencies
node_modules/

# Environment variables
.env

# Script lokal untuk generate token (jangan di-push)
getIdToken.js

# Firebase Admin SDK credentials (JANGAN PERNAH DI PUSH)
serviceAccountKey.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
